:root {
  --primary-color: #2C3E5D;
  --secondary-color: #2d3436;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

fieldset {
  border: none;
}

html,
body {
  max-width: 100vw;
}

a {
  color: inherit;
  text-decoration: none;
}

label {
  font-weight: bold;
  font-size: 15px;
}

.nav {
  position: sticky;
  top: 0;
}

.main {
  padding: 10px 0;
}


.menu {
  display: flex;
  justify-content: center;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  width: 100%;
  background: #F1F2F4;
  padding: 10px;
  color: white;
  height: 60px;
}

.submenu {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: center;
  width: 100%;
  padding: 10px;
  background: #fff;
  height: 45px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}



.button {
  border: none;
  height: 35px;
  color: white;
  border: none;
  background: var(--primary-color);
  min-width: 100px;
  border-radius: 5px;
  cursor: pointer;
  font-weight: bold;
}

.button.white{
  background: white;
  color: var(--primary-color);
}

.base-input {
  background: #fff;
  border-radius: 5px;
  padding: 0 10px;
  background: #ecf0f1;
  color: #2c3e50
}

.base-input.sort {
  height: 30px;
  margin-left: 5px;
  border: 1px solid #7f8c8d;
}

.base-input.search {
  width: 100%;
  height: 35px;
  border: 2px solid #B3B9C4;
  background: white;
}

.base-input.select {
  width: 150px;
  height: 30px;
  margin-left: 5px;
  border: 1px solid #7f8c8d;
}


/* card */

.card-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(185px, 1fr));
  padding: 0px 50px;
  list-style: none;
  gap: 50px;
}

.card {
  display: flex;
  flex-direction: column;
  color: var(--secondary-color);
}

.card .title {
  font-weight: 600;
}

.card .body {
  display: flex;
  flex-direction: column;
  gap: 3px;
  margin-top: 5px;
}


.image-container {
  padding: 10px;
  background: #f3f4f7;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
}


.card .sub-title {
  color: var(--primary-color);
  font-weight: bold;
}

.card .text {
  font-weight: 500;
  font-style: italic;
}


.card-image {
  height: 275px;
  border-radius: 10px;
}

.no-result {
  text-align: center;
  margin-top: 20px;
  font-weight: bold;
}

/* Home Page */
.home-main {
  height: 100vh;
  width: 100vw;
  position: relative;
}

.home-page-container {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-image: url('./assets/bg-image.jpg');
  background-size: cover;
}

.bg-opacity {
  position: absolute;
  height: 100%;
  width: 100%;
  background: rgba(0, 0, 0, 0.85);
  z-index: 1;
}

.home-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  z-index: 2;
  gap: 10px;
  text-align: center;
}

@media screen and (max-width: 576px) {
  .card {
    flex-direction: row;
    align-items: flex-start;
    gap: 10px;
  }

  .card-image {
    height: 90px;
    width: auto;
  }

  .card-list {
    grid-template-columns: 1fr;
    padding: 0px 10px;
    gap: 20px;
  }

  .image-container {
    min-width: 80px;
    padding: 5px;
  }
}

