* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

a {
  color: inherit;
  text-decoration: none;
}


.search-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  width: 100%;
  padding: 20px;
  background: #e89f5e;
  color: white;
  position: sticky;
  top: 0;
}

.input-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  gap: 10px;
}



.card-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(185px, 1fr));
  padding: 0px 50px;
  list-style: none;
  gap: 50px;
}


.card-list img {
  border-radius: 10px;
}


