.main {}

.searchContainer {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding: 20px 0;
    background: black;
    color: white;
    position: static;
    top: 0;
}